<div class="wide-container">
     <!-- Start Why Guys Like You -->
  <div id="shopify-section-template--16443948925141__1663120263671d0eee" class="shopify-section section-multi-column"><div id="section-id-template--16443948925141__1663120263671d0eee">
  <style data-shopify="">
</style>

  
    <h2 class="section-title cc-animate-init -in cc-animate-complete" data-cc-animate="">Why Guys Like You Always Come Back</h2>
  

  <div class="flexible-layout flexible-layout--variable-columns flexible-layout--columns-3 align-center">
    
      <div id="block-id-16631202625aa0ca26-0" class="column text-column card-scheme card-scheme--1 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.15s" style="">
        
          <div class="text-column__image lightly-spaced-row"><div class="inline-image scale-on-hover__target" style="--ar-padding: 100.0%;
         --content-fit: contain;
         --full-url: url(//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=2000);
max-width: 2000px;">
  <div class="inline-image__pad"><img src="" alt="" data-srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1296 1296w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1512 1512w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1728 1728w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1950 1950w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=2000 2000w" width="2000" height="2000" class="inline-image__image load-trans loaded" loading="lazy" data-onload="this.classList.add(&quot;loaded&quot;)" sizes="366px" srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1296 1296w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1512 1512w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1728 1728w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=1950 1950w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc07616.jpg?v=1662686798&amp;width=2000 2000w"></div>
</div>
</div>
        

        <div class="card-content-padding-x padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">FABRIC</h3>
          

          
            <div class="text-column__text rte"><p>Our premium fabrics are unlike anything you've felt before. They are the perfect combination of comfort, softness, and stretch threaded from our micro-ribbed fabric. Just wait till you feel it yourself.</p></div>
          

          
        </div>
      </div>
    
      <div id="block-id-16631202625aa0ca26-1" class="column text-column card-scheme card-scheme--1 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.3s" style="">
        
          <div class="text-column__image lightly-spaced-row"><div class="inline-image scale-on-hover__target" style="--ar-padding: 100.0%;
         --content-fit: contain;
         --full-url: url(//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=2000);
max-width: 2000px;">
  <div class="inline-image__pad"><img src="" alt="" data-srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1296 1296w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1512 1512w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1728 1728w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1950 1950w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=2000 2000w" width="2000" height="2000" class="inline-image__image load-trans loaded" loading="lazy" data-onload="this.classList.add(&quot;loaded&quot;)" sizes="366px" srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1296 1296w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1512 1512w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1728 1728w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=1950 1950w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/dsc02848_2.jpg?v=1662686821&amp;width=2000 2000w"></div>
</div>
</div>
        

        <div class="card-content-padding-x padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">DESIGN</h3>
          

          
            <div class="text-column__text rte"><p>Less is more. Our threads come in a range of fits, hem styles, neck shapes, etc., to compliment a variety of different body types and styles. One shirt, endless outfit options.</p></div>
          

          
        </div>
      </div>
    
      <div id="block-id-16631202625aa0ca26-2" class="column text-column card-scheme card-scheme--1 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.45s" style="">
        
          <div class="text-column__image lightly-spaced-row"><div class="inline-image scale-on-hover__target" style="--ar-padding: 100.0%;
         --content-fit: contain;
         --full-url: url(//cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=1200);
max-width: 1200px;">
  <div class="inline-image__pad"><img src="" alt="" data-srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=1200 1200w" width="1200" height="1200" class="inline-image__image load-trans loaded" loading="lazy" data-onload="this.classList.add(&quot;loaded&quot;)" sizes="366px" srcset="//cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=180 180w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=360 360w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=540 540w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=720 720w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=900 900w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=1080 1080w, //cdn.shopify.com/s/files/1/0507/3623/4691/files/T-SHIRT_STAPLES.jpg?v=1661261111&amp;width=1200 1200w"></div>
</div>
</div>
        

        <div class="card-content-padding-x padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">SIMPLICITY</h3>
          

          
            <div class="text-column__text rte"><p>Our threads are created simple enough to be dressed up, down, worn for a date, hitting up the bars, or on your back during your travels. We make getting dressed easy.</p></div>
          

          
        </div>
      </div>
    
  </div>
</div>



</div>
   <!-- End Why Guys Like You -->
  <!-- Start Divider -->
   <div class="marquee marquee--left heading-font marquee--animate" style="--duration: 7s; --space: 50px; --text-size: 50px" role="marquee"><span class="marquee-content">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span></div>
    <!-- End Divider -->
   <!-- Start Free Shipping Bar -->
  <div id="shopify-section-template--16443948925141__163592857728b8bdc2" class="shopify-section section-multi-column"><div id="section-id-template--16443948925141__163592857728b8bdc2">
  <style data-shopify="">
</style>

  
    <h2 class="section-title visually-hidden cc-animate-init -in cc-animate-complete" data-cc-animate="">Multi-column</h2>
  

  <div class="flexible-layout flexible-layout--variable-columns flexible-layout--columns-3 align-center">
    
      <div id="block-id-163592857728b8bdc2-0" class="column text-column card-scheme card-scheme--2 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.15s" style="">
        

        <div class="card-content-padding padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">Free Shipping.</h3>
          

          
            <div class="text-column__text rte"><p>All U.S. orders of $100 or more qualify for free USPS Priority Shipping.</p></div>
          

          
        </div>
      </div>
    
      <div id="block-id-163592857728b8bdc2-1" class="column text-column card-scheme card-scheme--2 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.3s" style="">
        

        <div class="card-content-padding padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">Payment Methods.</h3>
          

          
            <div class="text-column__text rte"><p>All Major Credit Cards | PayPal | ApplePay | GooglePay | ShopPay | AfterPay | FacebookPay</p></div>
          

          
        </div>
      </div>
    
      <div id="block-id-163592857728b8bdc2-2" class="column text-column card-scheme card-scheme--2 card-br-oh cc-fade-in-up cc-animate-init -in cc-animate-complete" data-cc-animate="cc-fade-in-up" data-cc-animate-delay="0.45s" style="">
        

        <div class="card-content-padding padded-row-bottom--medium">
          
            <h3 class="text-column__title h3-style">Exchanges &amp; Returns</h3>
          

          
            <div class="text-column__text rte"><p>You can exchange + return any item purchased within 30 days of purchase.</p></div>
          

          
        </div>
      </div>
    
  </div>
</div>



</div>
   <!-- End Free Shipping Bar -->
   <!-- Start Divider -->
  <div class="marquee marquee--left heading-font marquee--animate" style="--duration: 7s; --space: 50px; --text-size: 50px" role="marquee"><span class="marquee-content">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span></div>
  <!-- End Divider -->
    <!-- Start Rich Text On The ROT Gram-->
<div class="card card-scheme card-scheme--1 card-content-padding-x fully-padded-row--medium cc-animate-init -in cc-animate-complete" data-cc-animate="">
  <div class="container">
    <div class="align-center spaced-column">
      
      

            
              <h2 class="majortitle h1-style">On The @RuleOfThreads Gram</h2>
            

          
      

            <div class="rte lightly-spaced-row "><p>Swipe + Shop The Looks</p></div>

          
      
    </div>
  </div>
</div>
  <!-- End Rich Text -->
  <!-- Start Divider -->
  <div class="marquee marquee--left heading-font marquee--animate" style="--duration: 7s; --space: 50px; --text-size: 50px" role="marquee"><span class="marquee-content">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span><span class="marquee-content" aria-hidden="true">
</span></div>
  <!-- End Divider -->
  <!-- Start IG Feed -->
  <covet-pics-widget gallery-embed-id="175152"></covet-pics-widget><script src="https://shopify.covet.pics/covet-pics-widget-inject.js"></script>
  <!-- End IG Feed -->
  <div class="section-footer__inner card card-content-padding" data-section-type="footer">
    {% if section.blocks != blank %}
      <div class="section-footer__row-container">
        <div class="section-footer__row section-footer__row--blocks" data-num-blocks="{{ section.blocks.size }}">
          {% for block in section.blocks %}
            {% case block.type %}
            {% when '@app' %}
              <div class="section-footer__row__col">
                {% render block %}
              </div>

            {% when 'menu' %}
              <div class="section-footer__row__col section-footer__menu-block" role="navigation" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}" {{ block.shopify_attributes }}>
                {% if block.settings.title != blank %}
                  {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                  <h2 class="h6-style section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                    {{- block.settings.title | escape -}}
                  </h2>
                {% endif %}

                {% if block.settings.menu != blank %}
                  <ul class="section-footer__menu-block__menu" {{ block.shopify_attributes }}>
                    {% for link in linklists[block.settings.menu].links %}
                      <li>
                        <a href="{{ link.url }}" {% if link.title.size < 25 %}class="no-wrap"{% endif %}>
                          {{- link.title -}}
                        </a>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>

            {% when 'text' %}
              <div class="section-footer__row__col section-footer__text-block {% if block.settings.text != blank %}section-footer__text-block--with-text{% endif %}" {{ block.shopify_attributes }}>
                {% if block.settings.title != blank %}
                  {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                  <h2 class="h6-style section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                    {{- block.settings.title | escape -}}
                  </h2>
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="section-footer__text">
                    {{- block.settings.text -}}
                  </div>
                {% endif %}

                {% if block.settings.image != blank %}
                  <div class="section-footer__text-block__image">
                    {%- capture widths -%}{{ block.settings.image_width }}, {{ block.settings.image_width | times: 2 | at_most: block.settings.image.width }}{%- endcapture -%}
                    {%- assign img_sizes = block.settings.image_width | append: 'px' -%}
                    {{- block.settings.image | image_url: width: block.settings.image.width | image_tag: widths: widths, sizes: img_sizes, width: block.settings.image_width, loading: 'lazy' -}}
                  </div>
                {% endif %}

                {% if block.settings.show_social_icons != blank %}
                  <div class="section-footer__text-block__social">
                    {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                    {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                    {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: icon_size, container_class: container_class %}
                  </div>
                {% endif %}
              </div>

            {% when 'newsletter' %}
              <div class="section-footer__row__col section-footer__newsletter-block" {{ block.shopify_attributes }}>
                {% if block.settings.title != blank %}
                  {%- assign title_word_count = block.settings.title | split: ' ' | size -%}
                  <h2 class="h6-style section-footer__title{% if title_word_count < 4 %} no-wrap{% endif %}">
                    {{- block.settings.title | escape -}}
                  </h2>
                {% endif %}

                {% if block.settings.text != blank %}
                  <div class="section-footer__text">
                    {{ block.settings.text }}
                  </div>
                {% endif %}

                <div class="signup-form">
                  {% form 'customer', id: 'footer_newsletter_signup' %}
                    {% if form.posted_successfully? %}
                      <div class="section-footer__newsletter-block__message signup-form__response signup-form__response--success">
                        <h2 class="h6-style">{{ 'layout.signup.post_success' | t }}</h2>
                      </div>
                    {% else %}
                      {% if form.errors %}
                        {% for field in form.errors %}
                          <p class="section-footer__newsletter-block__message--error signup-form__response signup-form__response--error">
                            {{ field | capitalize }} - {{ form.errors.messages[field] }}
                          </p>
                        {% endfor %}
                      {% endif %}
                      <input type="hidden" name="contact[tags]" value="prospect,newsletter"/>
                      <p>
                        <input type="email"
                          placeholder="{{ 'layout.signup.placeholder' | t }}"
                          class="signup-form__email"
                          value=""
                          name="contact[email]"
                          aria-label="{{ 'layout.signup.input_label' | t | escape }}"
                          required />
                      </p>
                      <button class="btn btn--{{ block.settings.button_style }} signup-form__button" type="submit">
                        {{- 'layout.signup.submit' | t -}}
                      </button>
                    {% endif %}
                  {% endform %}
                </div>

                {% if block.settings.show_social_icons != blank %}
                  <div class="section-footer__newsletter-block__social">
                    {% capture icon_size %}{% if block.settings.soc_icons_large %}x46{% else %}x30{% endif %}{% endcapture %}
                    {% capture container_class %}{% if block.settings.soc_icons_large %}social-links--large{% else %}{% endif %}{% endcapture %}
                    {% render 'social-icons', icon_setting: settings.social_custom_icon, icon_size: icon_size, container_class: container_class %}
                  </div>
                {% endif %}
              </div>

            {% endcase %}
          {% endfor %}
        </div>
      </div>
    {% endif %}

    {%- assign showing_localization = false -%}
    {%- if section.settings.show_language_selector and localization.available_languages.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
    {%- if section.settings.show_country_selector and localization.available_countries.size > 1 -%}{%- assign showing_localization = true -%}{%- endif -%}
    <div class="section-footer__row-container {% if showing_localization %}section-footer__row-container--with-localization{% endif %}">
      <div class="section-footer__row section-footer__row-lower">
        <div class="section-footer__row__col">
          {% if section.settings.show_payment_icons %}
            <div class="section-footer__payment-icons">
              {% for type in shop.enabled_payment_types %}
                {{ type | payment_type_svg_tag: class: 'section-footer__payment-icon' }}
              {% endfor %}
            </div>

          {% endif %}
          {% if section.settings.lower_menu != blank %}
            <div class="section-footer__lower-menu" role="navigation">
              <ul class="section-footer__lower-menu__list" aria-label="{{ 'layout.footer.navigation_aria_label' | t | escape }}">
                {% for link in linklists[section.settings.lower_menu].links %}
                  <li>
                    <a href="{{ link.url }}">
                      {{- link.title -}}
                    </a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
        <div class="section-footer__row__col">
          {% if section.settings.show_language_selector or section.settings.show_country_selector %}
            <div class="section-footer__localization">
              {% render 'localization', input_prefix: 'footer' %}
            </div>
          {% endif %}

          <div class="copyright">
            <span class="copy">&copy; {{ "now" | date: "%Y" }} <a href="{{ routes.root_url }}">{{ shop.name }}</a>.</span>


          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
  {
    "name": "Footer",
    "class": "section-footer",
    "max_blocks": 4,
    "settings": [
      {
        "type": "link_list",
        "id": "lower_menu",
        "label": "Lower footer menu"
      },
      {
        "type": "header",
        "content": "Social media links",
        "info": "These are shown inside text and newsletter blocks. Add to the footer and enable inside."
      },
      {
        "type": "header",
        "content": "Payment methods"
      },
      {
        "type": "checkbox",
        "id": "show_payment_icons",
        "label": "Show payment icons",
        "default": true
      },
      {
        "type": "header",
        "content": "Country/Region Selector",
        "info": "To add a country/region, go to your [payment settings.](/admin/settings/payments)"
      },
      {
        "type": "checkbox",
        "id": "show_country_selector",
        "label": "Enable country/region selector",
        "default": true
      },
      {
        "type": "header",
        "content": "Language Selector",
        "info": "To add a language, go to your [language settings.](/admin/settings/languages)"
      },
      {
        "type": "checkbox",
        "id": "show_language_selector",
        "label": "Enable language selector",
        "default": true
      }
    ],
    "blocks": [
      {
        "type": "@app"
      },
      {
        "type": "menu",
        "name": "Links",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Quick links"
          },
          {
            "type": "link_list",
            "id": "menu",
            "label": "Menu",
            "info": "This menu won't show dropdown items",
            "default": "footer"
          }
        ]
      },
      {
        "type": "text",
        "name": "Text and social media",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Talk about your store"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Use this text area to tell your customers about your brand and vision. You can change it in the theme editor.<\/p>"
          },
          {
            "type": "image_picker",
            "id": "image",
            "label": "Image"
          },
          {
            "type": "range",
            "id": "image_width",
            "min": 30,
            "max": 200,
            "step": 5,
            "unit": "px",
            "label": "Footer image width",
            "default": 100
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      },
      {
        "type": "newsletter",
        "limit": 1,
        "name": "Newsletter",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Heading",
            "default": "Newsletter"
          },
          {
            "type": "richtext",
            "id": "text",
            "label": "Text",
            "default": "<p>Sign up for exclusive offers, original stories, events and more.</p>"
          },
          {
            "type": "paragraph",
            "content": "Customers who subscribe will have their email address added to the “accepts marketing” [customer list](/admin/customers?query=&accepts_marketing=1)"
          },
          {
            "type": "select",
            "id": "button_style",
            "label": "Button style",
            "default": "primary",
            "options": [
              {
                "label": "Primary",
                "value": "primary"
              },
              {
                "label": "Secondary",
                "value": "secondary"
              }
            ]
          },
          {
            "type": "checkbox",
            "id": "show_social_icons",
            "label": "Show social media links",
            "default": true
          },
          {
            "type": "checkbox",
            "id": "soc_icons_large",
            "label": "Use large social media icons",
            "default": false
          }
        ]
      }
    ]
  }
{% endschema %}
